################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/criptografia_csharp/FileContentIndex/359402dc-f256-4969-a18c-073bf1768f62.vsidx
/.vs/criptografia_csharp/FileContentIndex/80d75336-61b1-43a8-b273-d928fc2e49f3.vsidx
/.vs/criptografia_csharp/FileContentIndex/b5e98054-3025-453f-b6ba-a2d76ce95c7a.vsidx
/.vs/criptografia_csharp/FileContentIndex/cf7c6612-a0d0-457e-a15b-90f3b6292780.vsidx
/bin/
/criptografia_csharp/bin/
/criptografia_csharp/obj/
/obj/
/testesarquivos/arquivo-original.txt
/testesarquivos/decriptado.txt
/testesarquivos/saida_cript.txt
/criptassimetrico.csproj
/criptassimetrico.sln
/Program.cs
/.vs/criptografia_csharp/FileContentIndex/2f5fd599-d46b-4e8d-a6f8-9141d249e8e7.vsidx
/.vs/criptografia_csharp/FileContentIndex/3fa33cea-1be6-4d97-bea5-4265183870bc.vsidx
/criptografia_csharp/obj/Debug/net8.0-windows/criptografia_csharp.sourcelink.json
/.vs/criptografia_csharp/DesignTimeBuild/.dtbcache.v2
/.vs/criptografia_csharp/FileContentIndex/22f20fa6-33e4-4752-958f-3405996efe29.vsidx
/.vs/criptografia_csharp/FileContentIndex/35aa315e-7cfc-4b2d-8ea7-9867f262a488.vsidx
/.vs/criptografia_csharp/FileContentIndex/f8939b02-f30e-4323-a080-a7eda7feadcd.vsidx
/.vs/ProjectEvaluation/criptografia_csharp.metadata.v7.bin
/.vs/ProjectEvaluation/criptografia_csharp.projects.v7.bin
/.vs/criptografia_csharp/FileContentIndex/265c6bc7-aff4-4bd3-adea-599de0ad663f.vsidx
/.vs/criptografia_csharp/FileContentIndex/4fd4f154-86a7-42d2-9e40-1513bccf4afb.vsidx
criptografia_csharp/bin/Debug/net10.0-windows/criptografia_csharp.deps.json
